os: windows
language: cpp
env:
  - MSBUILD_PATH="C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin"
install:
  - choco install visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Component.VC.Tools.x86.x64"
  - choco install dotnetcore-sdk
  - choco install nodejs.install
  - choco install 7zip.install
script:
  - cd C:/Users/travis/build/jay-gurjargour/armorpaint
  - node armorcore/make -g direct3d11
  - cd armorcore && 7z e 'v8\libraries\win32\release\v8_monolith.7z'
  - git apply patch/window_handling.diff --directory=Kinc
  - node Kinc/make -g direct3d11

